@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* CUSTOM VARIABLES */
  --fontFamily-poppins: "Poppins", sans-serif;
  --main: oklch(0.71 0.1868 41.75);
  /* #FF7235 - Bright Orange */
  --bg: oklch(0.98 0.0011 17.18);
  /* #F9F8F8 - Soft White */
  --surface: oklch(0.92 0 0);
  /* #E4E4E4 Light Gray */
  --heading: oklch(0.23 0 0);
  /* #1C1C1C - Dark Gray */
  --body: oklch(0.29 0 0);
  /* #2A2A2A- Slightly Lighter Gray */
  --gradient-red: linear-gradient(135deg,
      oklch(0.75 0.24 25) 0%,
      oklch(0.55 0.2 30) 100%);
  --gradient-green: linear-gradient(135deg,
      oklch(0.75 0.2 145) 0%,
      oklch(0.55 0.18 150) 100%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* CUSTOM VARIABLES */
  /* --main: oklch(0.71 0.1868 41.75);
  --bg: oklch(0.23 0 0);
  --surface: oklch(0.29 0 0);
  --heading: oklch(0.92 0 0);
  --body: oklch(0.98 0.0011 17.18); */
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* CUSTOM VARIABLES */
  --font-poppins: var(--fontFamily-poppins);
  --color-main: oklch(0.71 0.1868 41.75);
  --color-bg: oklch(0.98 0.0011 17.18);
  --color-surface: oklch(0.92 0 0);
  --color-heading: oklch(0.23 0 0);
  --color-body: oklch(0.29 0 0);


  --color-bliss-50: oklch(0.97 0.0161 293.76);
  --color-bliss-100: oklch(0.95 0.0257 295.55);
  --color-bliss-200: oklch(0.9 0.0493 293.03);
  --color-bliss-300: oklch(0.82 0.0927 293.27);
  --color-bliss-400: oklch(0.7 0.1539 293.2);
  --color-bliss-500: oklch(0.61 0.204 293.02);
  --color-bliss-600: oklch(0.54 0.2321 293.46);
  --color-bliss-700: oklch(0.49 0.2282 293.29);
  --color-bliss-800: oklch(0.43 0.1988 293.45);
  --color-bliss-900: oklch(0.38 0.1676 294.37);
  --color-bliss-950: oklch(0.28 0.1283 291.55);
  --color-main: oklch(0.77 0.103 43.97);

  --color-main-50: #fdf4ef;
  --color-main-100: #fae5da;
  --color-main-200: #f4c8b4;
  --color-main-300: #ec9f7e;
  --color-main-400: #e57552;
  --color-main-500: #de5431;
  --color-main-600: #d03c26;
  --color-main-700: #ad2c21;
  --color-main-800: #8a2622;
  --color-main-900: #70221e;
  --color-main-950: #3c0e0e;
}

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  body {
    @apply antialiased font-poppins selection:bg-bliss-500 selection:text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }

  .wrapper {
    @apply max-w-7xl mx-auto px-4;
  }
}